
.city{
  color: #e96e50;
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  font-weight:700
}
.main-title{
  color: #e96e50;
  font-size: 30px;
  font-family: "Space Grotesk", Arial, sans-serif !important;

}
.next{
  color: #e96e50;
}
.jumbotron{
  background: #e96e50;
  background-image: radial-gradient(#e28d50,#e96e50);
}
.submit{
  border-color: #c1593f;
  background-color: #e96e50;
    margin-left: -105px;
    
}
.submit:hover{
 
  background-color: #c1593f;
    border-color: #9e511a;
}
.degree{
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  color:rgb(20, 19, 19)
}

.anim img{
  height:120px;
 
  width:120px;

  animation: App-logo-spin infinite 6s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details-cards .card{
  background-color: #f09656;
  height:100px
 
}
.details-cards h6{
  font-size: 12px;
  font-weight: bold;
  color:white
}
.details-cards h2{
  color:white;
  font-size: 26px;
}

@media only screen and (max-width: 768px) {
  .details-cards .card {
    height:120px;
  }
  .details-cards h2{
    font-size: 22px;
  }
}

@media only screen and (max-width: 562px) {
  .details-cards .card {
    height:130px;
  }
  .details-cards h2{
    font-size: 18px;
  }
}
@media only screen and (max-width: 560px) {
  .details-cards .card {
    height:80px;
    margin-bottom: 20px;
  }
  .details-cards h2{
    font-size: 12px;
  }
}
