@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.city{
  color: #e96e50;
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  font-weight:700
}
.main-title{
  color: #e96e50;
  font-size: 30px;
  font-family: "Space Grotesk", Arial, sans-serif !important;

}
.next{
  color: #e96e50;
}
.jumbotron{
  background: #e96e50;
  background-image: radial-gradient(#e28d50,#e96e50);
}
.submit{
  border-color: #c1593f;
  background-color: #e96e50;
    margin-left: -105px;
    
}
.submit:hover{
 
  background-color: #c1593f;
    border-color: #9e511a;
}
.degree{
  font-family: Arial, sans-serif !important;
  font-size: 14px;
  color:rgb(20, 19, 19)
}

.anim img{
  height:120px;
 
  width:120px;

  animation: App-logo-spin infinite 6s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details-cards .card{
  background-color: #f09656;
  height:100px
 
}
.details-cards h6{
  font-size: 12px;
  font-weight: bold;
  color:white
}
.details-cards h2{
  color:white;
  font-size: 26px;
}

@media only screen and (max-width: 768px) {
  .details-cards .card {
    height:120px;
  }
  .details-cards h2{
    font-size: 22px;
  }
}

@media only screen and (max-width: 562px) {
  .details-cards .card {
    height:130px;
  }
  .details-cards h2{
    font-size: 18px;
  }
}
@media only screen and (max-width: 560px) {
  .details-cards .card {
    height:80px;
    margin-bottom: 20px;
  }
  .details-cards h2{
    font-size: 12px;
  }
}
.err h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  text-align: center;
}
.err h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  

}
.submit:focus{
  background-color: #f09656;
}
.large{
  font-size: 32px;
}
.home{
  height:90vh;
 
  background-image: url("https://images.unsplash.com/photo-1584267385494-9fdd9a71ad75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");

  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  
} 



.heading{
  font-family: 'Roboto', sans-serif;
 color:white
}

.btn-explore span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.btn-explore:hover span {
  max-width: 7rem;
}